.InputfieldYouTubeData {
  float: right;
  width: 69%;
}

.InputfieldYouTube button {
  float: right;
  width: 69%;
}

.InputfieldYouTubeUser button {
  float: right;
  margin-left: 1%;
  width: 34%;
}

.InputfieldYouTube .clear,
.InputfieldYouTubeUser .clear {
  clear: both;
}

.InputfieldYouTubeResponse {
  font-size: 0.8em;
  color: #db1174;
}

.InputfieldYouTubeVideo {
  float: left;
  width: 30%;
  text-align: center;
}

.InputfieldYouTubeVideo img {
  display: inline-block;
  max-width: 100%;
}

.InputfieldYouTubeData .FieldtypeTextarea {
  margin-top: 0.25em;
}

.InputfieldYouTubeData .InputfieldYouTubeDelete {
  cursor: pointer;
  position: absolute;
  right: 1em;
  font-size: 1.25em !important;
}

.InputfieldYouTubeData .InputfieldYouTubeRefresh {
  cursor: pointer;
  position: absolute;
  right: 2.4em;
  font-size: 1.25em !important;
}

.InputfieldYouTubeData .InputfieldHeader {
  position: relative;
}

.InputfieldYouTube .fa-plus-circle,
.InputfieldYouTubeUser .fa-plus-circle {
  font-size: 1.15em !important;
}